<div class="container">
    <div class="heading">{{ "Clientes" | uppercase }}</div>

  <div class="container-list">
    <div class="header">
      <div class="filters">
        <div class="form-group">
          <label class="label">Nome Cliente:</label>
          <input class="input" type="text" value="Ricardo Santos Rocker" />
        </div>
        <div class="form-group">
          <label class="label">CPF:</label>
          <input class="input" type="text" value="442.678.864-44" />
        </div>
        <div class="form-group">
          <label class="label">Data Nascimento:</label>
          <input class="input" type="date" value="04/09/1995" />
        </div>
      </div>
      <div class="actions">
        <button class="btn btn-primary" (click)="redirect()">
          {{ "Adicionar Cliente" | uppercase }}
        </button>
        <button class="btn btn-primary" (click)="redirect()">
          {{ "Visualizar" | uppercase }}
        </button>
        <button class="btn btn-primary">{{ "Remover" | uppercase }}</button>
      </div>
    </div>

    <table>
      <div class="tb-row tb-header">
        <tr>
          <th class="col-1" role="row"></th>
          <th class="col-3">NOME</th>
          <th class="col-2">CPF</th>
          <th class="col-2">DATA CADASTRO</th>
          <th class="col-2">RENDA MENSAL</th>
        </tr>
      </div>
      <div class="tb-row tb-data row-odd">
        <tr>
          <td class="col-1"><input type="checkbox" class="checkbox" /></td>
          <td class="col-3">RICARDO SANTOS ROCKER</td>
          <td class="col-2">442.678.864-44</td>
          <td class="col-2">07/12/2023</td>
          <td class="col-2">{{ 24400 | currency : "BRL" : true }}</td>
        </tr>
      </div>
      <div class="tb-row tb-data row-even">
        <tr>
          <td class="col-1"><input type="checkbox" class="checkbox" /></td>
          <td class="col-3">RICARDO SANTOS ROCKER</td>
          <td class="col-2">442.678.864-44</td>
          <td class="col-2">07/12/2023</td>
          <td class="col-2">{{ 24400 | currency : "BRL" : true }}</td>
        </tr>
      </div>
      <div class="tb-row tb-data row-odd">
        <tr>
          <td class="col-1"><input type="checkbox" class="checkbox" /></td>
          <td class="col-3">RICARDO SANTOS ROCKER</td>
          <td class="col-2">442.678.864-44</td>
          <td class="col-2">07/12/2023</td>
          <td class="col-2">{{ 24400 | currency : "BRL" : true }}</td>
        </tr>
      </div>
      <div class="tb-row tb-data row-even">
        <tr>
          <td class="col-1"><input type="checkbox" class="checkbox" /></td>
          <td class="col-3">RICARDO SANTOS ROCKER</td>
          <td class="col-2">442.678.864-44</td>
          <td class="col-2">07/12/2023</td>
          <td class="col-2">{{ 24400 | currency : "BRL" : true }}</td>
        </tr>
      </div>
    </table>
  </div>
</div>
