.heading {
  color: var(--color-brand-primary-medium);
  font-weight: var(--fontweight-extra-bold);
  font-size: var(--fontsize-heading);
  padding: 28px 70px;
}

.container {
  padding: 38px 88px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  display: flex;
  gap: 0 14px;
}

.actions {
  display: flex;
  gap: 0 4px;
}
