<div class="container">
  <div class="overlay" *ngIf="showCard" (click)="onOverlayClick($event)"></div>
  <div class="heading">{{ "Clientes" | uppercase }}</div>

  <div class="container-list">
    <div class="header">
      <div class="filters">
        <div class="form-group">
          <label class="label">Nome Cliente:</label>
          <input
            class="input"
            type="text"
            placeholder="Digite o nome"
            [(ngModel)]="filtros.nome"
          />
        </div>
        <div class="form-group">
          <label class="label">CPF:</label>
          <input
            class="input"
            type="text"
            mask="000.000.000-00"
            id="cpf"
            placeholder="000.000.000-00"
            [(ngModel)]="filtros.cpf"
          />
        </div>
        <div class="form-group">
          <label class="label">Data Nascimento:</label>
          <input
            class="input"
            type="date"
            [(ngModel)]="filtros.dataNascimento"
          />
        </div>
        <button class="filter" (click)="filtrar()">
          <img
            src="../../../../assets/search-icon.png"
            alt="Search Icon"
            width="24"
          />
        </button>
      </div>
      <div class="actions">
        <button class="btn btn-primary" routerLink="/clientes/formulario">
          {{ "Adicionar Cliente" | uppercase }}
        </button>
        <button class="btn btn-primary" (click)="visualizar()">
          {{ "Visualizar" | uppercase }}
        </button>
        <button class="btn btn-primary" (click)="remover()">
          {{ "Remover" | uppercase }}
        </button>
      </div>
    </div>

    <table *ngIf="currentPageData$ | async as clientes">
      <div class="tb-row tb-header">
        <tr>
          <th class="col-1" role="row"></th>
          <th
            class="col-3"
            (click)="sort('nome')"
            [ngClass]="ascButton ? 'asc' : 'desc'"
          >
            NOME
          </th>
          <th
            class="col-2"
            (click)="sort('cpf')"
            [ngClass]="ascButton ? 'asc' : 'desc'"
          >
            CPF
          </th>
          <th
            class="col-2"
            (click)="sort('dataCadastro')"
            [ngClass]="ascButton ? 'asc' : 'desc'"
          >
            DATA CADASTRO
          </th>
          <th
            class="col-2"
            (click)="sort('rendaMensal')"
            [ngClass]="ascButton ? 'asc' : 'desc'"
          >
            RENDA MENSAL
          </th>
        </tr>
      </div>
      <div
        *ngFor="let cliente of clientes; index as i"
        [ngClass]="'tb-row tb-data ' + (i % 2 ? 'row-even' : 'row-odd')"
      >
        <tr>
          <td class="col-1">
            <input
              type="checkbox"
              class="checkbox"
              [id]="cliente.id"
              [checked]="cliente === clienteSelecionado"
              (change)="selecionarCliente(cliente)"
            />
          </td>
          <td class="col-3">{{ cliente.nome }}</td>
          <td class="col-2">{{ cliente.cpf | cpf }}</td>
          <td class="col-2">{{ cliente.dataCadastro | date : "dd/MM/yyy" }}</td>
          <td class="col-2">{{ cliente.rendaMensal | currency : "BRL" }}</td>
        </tr>
      </div>
    </table>
    <div class="pagination">
      <div class="btn-pagination">
        <button (click)="prevPage()">«</button>
      </div>
      <div *ngIf="currentPage">
      <!-- <div *ngIf="currentPage$ | async as currentPage"> -->
        <button class="current-page">
          {{ currentPage }}
        </button>
      </div>
      <div class="btn-pagination">
        <button (click)="nextPage()">»</button>
      </div>
    </div>
  </div>
  <div class="card-component">
    <app-card
      *ngIf="showCard"
      (okClick)="onCardClick()"
      [feedbackMessage]="feedbackMessage"
      [successMessage]="successMessage"
    ></app-card>
  </div>
</div>
