.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.heading {
  padding: 28px 0;
  width: 1060px;
}

.container-list {
  width: 1024px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  display: flex;
  gap: 0 14px;
}

.actions {
  display: flex;
  gap: 4px;
}

table {
  width: 100%;
  padding-top: 38px;
  padding-bottom: 20px;
}

.col-1 {
  width: 2%;
}

.col-2 {
  width: 10%;
}

.col-3 {
  width: 18%;
}

.tb-row {
  padding: 12px 28px;
  font-size: var(--fontsize-paragraph);
  font-weight: var(--fontweight-bold);
  line-height: 150%;
  vertical-align: middle;
  text-align: left;
}

.tb-header {
  background-color: var(--color-brand-primary-light);
  color: var(--color-neutral-white);
  border-radius: 40px 0 80px 40px;
  line-height: 150%;
}

.tb-data {
  color: var(--color-neutral-dark);
  border-radius: 40px;
}

.row-odd {
  background-color: var(--color-neutral-white);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--color-brand-secondary-medium);
  border-radius: 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  line-height: 14px;
}

input[type="checkbox"]:checked {
  background-color: var(--color-brand-secondary-medium);
  color: var(--color-neutral-white);
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  position: absolute;
  margin-left: 3px;
  font-size: var(--fontsize-paragraph);
  font-weight: var(--fontweight-bold);
}

.row-even {
  background-color: var(--color-neutral-lightest);
}

.filter {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.filter:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  font-size: var(--fontsize-paragraph-03);
}

.pagination button {
  background-color: var(--color-neutral-white);
  color: var(--color-brand-primary-light);
  border: 1px solid var(--color-neutral-lightest);
  border-radius: 8px;
  width: 34px;
  height: 38px;
}

.current-page {
  border: 1px solid var(--color-neutral-lightest) !important;
}

.btn-pagination button:hover {
  background-color: var(--color-neutral-lightest);
  cursor: pointer;
}

.asc::after {
  content: "\25B2";
}

.desc::after {
  content: "\25BC";
}

@media screen and (max-width: 1200px) {
  .container-list,
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .heading {
    text-align: center;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header,
  .filters,
  .actions {
    flex-direction: column;
    gap: 10px;
  }

  .btn,
  .form-group {
    width: 300px;
  }

  .table-header,
  .table-row {
    padding: 12px 10px;
  }
}
