<div class="container">
  <div class="container-client">
    <div class="heading">{{ "Adicionar Cliente" | uppercase }}</div>

    <form [formGroup]="form" class="grid-container">
      <div class="control">
        <div class="form-group">
          <label class="label">Nome Cliente:</label>
          <input
            class="input"
            type="text"
            id="nome"
            formControlName="nome"
            placeholder="Digite o nome"
          />
        </div>
        <div class="error" *ngIf="getErrorMessage('nome')">
          {{ getErrorMessage("nome", "Nome") }}
        </div>
      </div>
      <div class="control">
        <div class="form-group">
          <label class="label">CPF:</label>
          <input
            class="input"
            type="text"
            mask="000.000.000-00"
            id="cpf"
            placeholder="000.000.000-00"
            formControlName="cpf"
          />
        </div>
        <div class="error" *ngIf="getErrorMessage('cpf')">
          {{ getErrorMessage("cpf", "CPF") }}
        </div>
      </div>
      <div class="control">
        <div class="form-group">
          <label class="label">Data Nascimento:</label>
          <input
            class="input"
            type="date"
            id="dataNascimento"
            formControlName="dataNascimento"
          />
        </div>
        <div class="error" *ngIf="getErrorMessage('dataNascimento')">
          {{ getErrorMessage("dataNascimento", "Data de Nascimento") }}
        </div>
      </div>
      <div class="control">
        <div class="form-group">
          <label class="label">Renda Mensal:</label>
          <input
            class="input"
            type="text"
            id="rendaMensal"
            formControlName="rendaMensal"
            prefix="R$"
            mask="separator"
            thousandSeparator="."
            placeholder="R$0.000,00"
          />
        </div>
        <div class="error" *ngIf="getErrorMessage('rendaMensal')">
          {{ getErrorMessage("rendaMensal", "Renda Mensal") }}
        </div>
      </div>
      <div class="control">
        <div class="form-group">
          <label class="label">E-mail:</label>
          <input
            class="input"
            type="email"
            id="email"
            formControlName="email"
            placeholder="Digite o e-mail"
            required
            email
          />
        </div>
        <div class="error" *ngIf="getErrorMessage('email')">
          {{ getErrorMessage("email", "E-mail") }}
        </div>
      </div>
      <div class="control">
        <div class="form-group">
          <label class="label">Data Cadastro:</label>
          <input
            class="input"
            type="date"
            id="dataCadastro"
            formControlName="dataCadastro"
          />
        </div>
        <div class="error" *ngIf="getErrorMessage('dataCadastro')">
          {{ getErrorMessage("dataCadastro", "Data de Cadastro") }}
        </div>
      </div>
    </form>

    <div class="actions">
      <button class="btn btn-default" (click)="redirect()">
        {{ "Cancelar" | uppercase }}
      </button>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">
        {{ "Adicionar" | uppercase }}
      </button>
    </div>
  </div>
</div>
