<div class="container">
  <div class="container-client">
    <div class="heading">{{ "Adicionar Cliente" | uppercase }}</div>

    <form [formGroup]="form" class="grid-container">
      <div class="form-group col">
        <label class="label">Nome Cliente:</label>
        <input class="input" type="text" id="nome" formControlName="nome" />
        <div
          *ngIf="
            form.get('nome')?.hasError('required') && form.get('nome')?.touched
          "
        >
          Nome é obrigatório
        </div>
        <div
          *ngIf="
            !(form.get('nome')?.value | sobrenomeValidator) &&
            form.get('nome')?.touched
          "
        >
          Nome Cliente deve possuir ao menos um sobrenome.
        </div>
      </div>
      <div class="form-group col">
        <label class="label">CPF:</label>
        <input
          class="input"
          type="text"
          mask="000.000.000-00"
          id="cpf"
          placeholder="000.000.000-00"
          formControlName="cpf"
        />
        <div
          *ngIf="
            form.get('cpf')?.hasError('required') && form.get('cpf')?.touched
          "
        >
          CPF é obrigatório
        </div>
        <div
          *ngIf="
            (form.get('cpf')?.value | cpfValidator) !== 'válido' &&
            form.get('cpf')?.touched
          "
        >
          {{ form.get("cpf")?.value | cpfValidator }}
        </div>
      </div>
      <div class="form-group col">
        <label class="label">Data Nascimento:</label>
        <input
          class="input"
          type="date"
          id="dataNascimento"
          formControlName="dataNascimento"
        />
        <div
          *ngIf="
            form.get('dataNascimento')?.hasError('required') &&
            form.get('dataNascimento')?.touched
          "
        >
          Data de Nascimento é obrigatório
        </div>
        <div
          *ngIf="
            form.get('dataNascimento')?.hasError('idadeInvalida') &&
            form.get('dataNascimento')?.touched
          "
        >
          Idade do cliente deve estar entre 18 e 60 anos.
        </div>
      </div>
      <div class="form-group col">
        <label class="label">Renda Mensal:</label>
        <input
          class="input"
          type="text"
          id="rendaMensal"
          formControlName="rendaMensal"
          prefix="R$"
          mask="separator"
          thousandSeparator="."
          placeholder="R$00.000,00"
        />
        <div
          *ngIf="
            form.get('rendaMensal')?.hasError('required') &&
            form.get('rendaMensal')?.touched
          "
        >
          Renda Mensal é obrigatório
        </div>
      </div>
      <div class="form-group col">
        <label class="label">E-mail:</label>
        <input
          class="input"
          type="email"
          id="email"
          formControlName="email"
          required
          email
        />
        <div
          *ngIf="
            form.get('email')?.hasError('required') &&
            form.get('email')?.touched
          "
        >
          E-mail é obrigatório
        </div>
        <div
          *ngIf="
            form.get('email')?.hasError('email') && form.get('email')?.touched
          "
        >
          E-mail invalido
        </div>
      </div>
      <div class="form-group col">
        <label class="label">Data Cadastro:</label>
        <input
          class="input"
          type="date"
          id="dataCadastro"
          formControlName="dataCadastro"
        />
        <div
          *ngIf="
            form.get('dataCadastro')?.hasError('required') &&
            form.get('dataCadastro')?.touched
          "
        >
          Data de Cadastro é obrigatório
        </div>
      </div>
    </form>

    <div class="actions">
      <button class="btn btn-default" (click)="redirect()">
        {{ "Cancelar" | uppercase }}
      </button>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">
        {{ "Adicionar" | uppercase }}
      </button>
    </div>
  </div>
</div>
