<nav>
  <app-navbar></app-navbar>
</nav>

<main>
  <app-listagem></app-listagem>
</main>

<!-- Componentes
<div style="margin-bottom: 500px;"></div>

<button class="btn btn-primary">{{ "Adicionar Cliente" | uppercase }}</button>
<button class="btn btn-default">{{ "Cancelar" | uppercase }}</button>

<div class="table-header">{{ "Teste 01" | uppercase }}</div>
<div class="table-row">{{ "Teste 02" | uppercase }}</div>
<div class="card">{{ "Teste 03" | uppercase }}</div>

<div class="form-group">
  <label class="label">Nome Cliente:</label>
  <input class="input" type="text" value="Ricardo Santos Rocker" />
</div>

<input type="checkbox" class="checkbox"> -->
