@import '../styles.scss';

.navbar {
  background-color: var(--color-brand-primary-darkest);
  padding: 12px 22px;
}

.heading {
  color: var(--color-brand-primary-medium);
  font-weight: var(--fontweight-extra-bold);
  font-size: var(--fontsize-heading);
}
